.container{
    width: 50vw;
    margin: 50px auto;
    padding: 20px;
    background-color: none;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid lightgreen;
}

.form {
    display: flex;
    flex-direction: column;
    
}


 .name {
     margin: 0 0 20px 35px;
    display: flex; 
    position: relative;
     /* justify-content: space-between;  */
    width: 55%;
    height: 40px;
    outline-color: lightgreen;

    
    /* input [type="text"]{
        width: 40%;
        margin: 0 20px 0 0; 
        padding: 15px;
        font-style: italic;    
        border: none;
        background: transparent;
        color: #434753;
        outline-color: lightgreen;
    } */

    /* label[for="userName"]{
        position: absolute;
        top: -30px;
        left: 0;
    }

    label[for="lastName"]{
        position: absolute;
        top: -30px;
        right: 190px;
    } */
    
} 


/* label[for="userName"]{
    margin-left: 3em;
} */


label[for="email"]{
    margin-left: 3em;
}

label[for="userName"]{
    margin-left: 3em;
}

.userName{
    width: 50%;
    margin: 0 0 20px 35px;
    height: 40px;
    padding: 15px;
    font-style: italic;
    border: 1px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: lightgreen;

}

.email{
    width: 50%;
    margin: 0 0 20px 35px;
    height: 40px;
    padding: 15px;
    font-style: italic;
    border: 1px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: lightgreen;

}

//have you ever used this selector before

label:not(#nameLabel){
    margin-left: 35px ;
    margin-bottom: 10px;
}

label[for="password"]{
    margin-left: 3em;
}

.password{
    width: 50%;
    margin: 0 35px;
    height: 50px;
    padding: 15px;
    font-style: italic;
    border: 1px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: lightgreen;
}

.register{
    width: 100px;
    margin: 30px 35px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    background: none;
    color: #000;
    cursor: pointer;
}

.register:hover {
    background-color: lightgreen;
}
